html {
    font-size: 10px;
}

body {
    background-color: antiquewhite;
    height: 200rem;
}

.loaderBg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f1af2300;
    box-sizing: border-box;
}

.eventLoader{
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.eventLoader div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #f1af2300;
    border: 1px solid rgb(255 195 0 / 90%);
    box-shadow: 0rem 0rem 1rem rgb(245, 175, 25);
}

.eventLoader div:nth-child(2){
    margin-left: 4rem;
    margin-right: 4rem;
}

.eventLoader div:nth-child(1) {
    animation: scaleAnimation 2s infinite;
}

.eventLoader div:nth-child(2) {
    animation: scaleAnimation 2s infinite 1s;
}

.eventLoader div:nth-child(3) {
    animation: scaleAnimation 2s infinite 2s;
}

@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
        background-color: #f1af2300;
    }
    50% {
        transform: scale(1.2);
        background-color: #f4b907;
    }
}

@media (max-width: 450px) {
    .eventLoader div {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #f1af2300;
        border: 1px solid rgb(255 195 0 / 90%);
        box-shadow: 0rem 0rem 5rem rgb(245, 175, 25), 0rem 0rem 10rem rgb(245, 175, 25);
    }
    
}